node_modules/
out/
dist-electron/
backend/venv/
backend/build/
backend/dist/
backend/backend.spec
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
*.log
.env
dev-data/

# markdown files
CLAUDE.md
